<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/tarkhov/postboot/v1.0.3/dist/css/postboot.min.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/185c19c7d3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1 class="text-center"> <img src="https://i.pinimg.com/originals/00/69/97/00699757b78e3f083cb7c8249bc735ae.jpg" height="100" widith="50">Captivate Interiors</h1>
    </header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/About">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Shop">Shop</a>
              </li>
            </ul>
          </div>
    </nav>
    <div class="container mt-5">
      <h1 class="text-center">Resteraunt</h1>
        <div class="row">
          <div class="col-sm-3">
            <h2 class="text-center"><img src="https://th.bing.com/th/id/R.2df137a4bfc577819f1106a19ee9cc35?rik=%2b6EWKX%2b5zwSpSg&pid=ImgRaw&r=0" widith="300" height="200"><p>Long awaited resteraunt finally built</p></h2>
          </div>
          <div class="col-sm-6">
            <h2 class="text-center"><img src="https://www.eatnewzealand.nz/uploads/images/_1412x848_crop_center-center/Whitebait.jpg" widith="300" height="250"><p>Brand new Seafood resteraunt</p></h2>
          </div>
          <div class="col-sm-3">
            <h2 class="text-center"><img src="https://th.bing.com/th/id/R.05f53ec70bee59bc635eb68eb355cf6a?rik=rQ8MzuVQvietXg&pid=ImgRaw&r=0" widith="300" height="200"><p>Euro Resteraunt & Bar in Auckland City</p></h2>
          </div>
    </div>
    <div class="container mt-5">
      <h1 class="text-center">Hotels</h1>
        <div class="row">
          <div class="col-sm-3">
            <h2 class="text-center"><img src="https://th.bing.com/th/id/OIP.2jTwd75L60SISfjdskCb_QHaD4?pid=ImgDet&rs=1" widith="300" height="200"><p>New Hotel on the coast</p></h2>
          </div>
          <div class="col-sm-6">
            <h2 class="text-center"><img src="https://th.bing.com/th/id/OIP.L-wyaUYnI5C7YH5PSrIOzAHaEK?pid=ImgDet&rs=1" widith="300" height="250"><p>New Hotel in the city</p></h2>
          </div>
          <div class="col-sm-3">
            <h2 class="text-center"><img src="https://th.bing.com/th/id/OIP.SHNtCHOjNQoihlrHZ4k-kQHaEK?pid=ImgDet&rs=1" widith="300" height="200"><p>Hotel gets a complete revamp</p></h2>
          </div>
    </div>
    <div class="container mt-5">
      <h1 class="text-center">Offices</h1>
        <div class="row">
          <div class="col-sm-3">
            <h2 class="text-center"><img src="https://th.bing.com/th/id/OIP.C8O4BuK3E-Pqbjo0llDewgHaEZ?pid=ImgDet&rs=1" widith="300" height="200"><p>New KPMG Office</p></h2>
          </div>
          <div class="col-sm-6">
            <h2 class="text-center"><img src="https://th.bing.com/th/id/OIP.4obWZenGfnLNyGV8woE6swHaE7?pid=ImgDet&rs=1" widith="300" height="250"><p>completely symmetrical office</p></h2>
          </div>
          <div class="col-sm-3">
            <h2 class="text-center"><img src="https://th.bing.com/th/id/R.5038f991d28a3f078186023f092c1bb9?rik=l9pTftNP4pPT5A&pid=ImgRaw&r=0" widith="300" height="200"><p>New Auckland University Office</p></h2>
          </div>
    </div>
    <div class="container mt-5">
      <h1 class="text-center">Homes</h1>
        <div class="row">
          <div class="col-sm-3">
            <h2 class="text-center"><img src="https://th.bing.com/th/id/R.5479ca783baa690a3386fd209eee788c?rik=Czj7r3N4FIF%2fYg&pid=ImgRaw&r=0" widith="300" height="200"><p>2 story house in the city</p></h2>
          </div>
          <div class="col-sm-6">
            <h2 class="text-center"><img src="https://th.bing.com/th/id/R.52d2227fa41f55d47799bf8ef87ad7e8?rik=hU2gIiwsCGgtwg&pid=ImgRaw&r=0" widith="300" height="250"><p>2 story house in the suburbs</p></h2>
          </div>
          <div class="col-sm-3">
            <h2 class="text-center"><img src="https://th.bing.com/th/id/R.8019664b85adac641347eb617882ae94?rik=4G7BCWmMTngRoQ&pid=ImgRaw&r=0" widith="300" height="200"><p>odd box-like house</p></h2>
          </div>
    </div>

    <p>a</p>
    <p>a</p>
    

    
    <!-- Footer -->
    <footer class="bg-dark text-center text-white fixed-bottom">
    
    <div class="container p-4">
      <section>
        <a class="btn-outline-light" href="https://www.facebook.com/" role="button">
          <i class=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-128.png" widith="100" height="30"></i>
        </a>
        <a class="btn-outline-light" href="https://twitter.com/?lang=en-nz" role="button">
        <i class=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter3_colored_svg-128.png" widith="100" height="30"></i>
        </a>
         <a class="btn-outline-light" href="https://www.linkedin.com/home" role="button">
          <i class=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Linkedin_unofficial_colored_svg-128.png" widith="100" height="30"></i>
        </a>
          <a class="btn-outline-light" href="https://www.instagram.com/" role="button">
          <i class=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-128.png" Widith="100" height="30"></i>
        </a>  
      </section>
    </div>  
  </footer>  
</body>
</html>